/*tinyMCE*/
.defaultSkin .mceButton.mce_vesafe_advanced{
    width:auto !important;
}
.defaultSkin span.mceIcon.mce_vesafe_advanced,
.defaultSkin img.mceIcon.mce_vesafe_advanced{
    width:auto !important;
    margin-top:1px !important;
    padding:0px 10px;
}
.mceIcon.mce_vesafe_advanced:before{
    content: "Switch to advanced";
    color: #0074bd;
}

.defaultSkin .mceButton.mce_vesafe_minimal{
    width:auto !important;
}
.defaultSkin span.mceIcon.mce_vesafe_minimal,
.defaultSkin img.mceIcon.mce_vesafe_minimal{
    width:auto !important;
    margin-top:1px !important;
    padding:0px 10px;
}
.mceIcon.mce_vesafe_minimal:before{
    content: "Switch to minimal" !important;
    color: #0074bd;
}
/*forms*/
.form-wrapper.field-widget-link-field > div > div > .clearfix:last-child,
.form-wrapper.field-widget-entityreference-view-widget > div > .clearfix:last-child,
.form-wrapper.field-widget-multiple-selects > div > div > .clearfix:last-child{
    /*background:#f3f4ee !important;*/
    border: 1px solid #bebfb9 !important;
    border-top: none !important;
    padding-left: 30px;
    padding-top:10px;
}
.form-wrapper.field-widget-link-field table.field-multiple-table,
.form-wrapper.field-widget-entityreference-view-widget table.field-multiple-table,
.form-wrapper.field-widget-multiple-selects table.field-multiple-table{
    border-bottom:none !important;
}

.form-wrapper.field-widget-link-field table.field-multiple-table th.field-label label,
.form-wrapper.field-widget-entityreference-view-widget table.field-multiple-table th.field-label label,
.form-wrapper.field-widget-multiple-selects table.field-multiple-table th.field-label label{
    padding-left:15px;
}