/*Footer
***********************/
.site-footer-container{
	background-color: #323232;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	margin-top: 35px;
	.footer-copyright{
		margin-bottom: 15px;
	}
	.nav{
		li{
			a{
				color: white;
				border-left: 2px solid white;
				border-radius: inherit;
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
		li:first-child{
			a{
				padding-left: 0px;
				border-left: none;
			}
		}
	}
}