/*cockies*/
#sliding-popup{
	overflow: hidden;
	background-color: @color-background-grey-dark !important;
	.popup-content.info{
		#popup-text{
			h2{
				margin-bottom: 15px;
			}
		}
		#popup-buttons{
			button{
				background: @color-secondary !important;
				border: none;
				box-shadow: none;
				text-shadow: none;
				color: white;
				font-weight: normal;
			}
			.find-more-button{
				opacity: 0.5;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

/*Header
*************************/
header{
	clear: both;
}
.top-header-container{
	padding-top: 10px;
	padding-bottom: 7px;
	.header-logo{
		margin-top: 10px;
		.logo{
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.eu-logo{
			bottom: 0px;
		    position: absolute;
		    margin-left: 15px;
		}
	}
	.header-blocks{
		max-width: 273px;
		min-width: 260px;
    	float: right;
		#block-block-3,
		#block-text-resize-0,
		#block-printfriendly-printfriendly{
			display: inline-block;
		}
		#block-block-3{
			p{
				margin: 0px;
				border-right: 2px solid @color-primary;
				padding-right: 7px;
				a{
					color: @color-primary;
				}
			}
		}
		#block-text-resize-0{
			sup{
				display: none;
			}
			#text_resize_decrease,
			#text_resize_increase{
				display: inline-block;
				float: inherit;
				margin: 0px;
				text-indent: 0px;
				width: 20px;
				background: inherit !important;
				text-transform: lowercase;
				height: 24px;
				color: @color-primary;
				text-decoration: none;
				text-align: center;
			}
			#text_resize_decrease{
				font-size: 1.1em;
			}
			#text_resize_increase{
				font-size: 1.7em;
				line-height: 16px;
			}
		}
		#block-printfriendly-printfriendly{
			a{
				border-left: 2px solid @color-primary;
				padding-top: 0px;
				padding-bottom: 0px;
				padding-left: 8px;
				&:before{
					content:"\e045";
					font-family: "Glyphicons Halflings";
					font-size: 1.2em;
    				vertical-align: bottom;
    				display: inline-block;
    				color: @color-primary;
				}
				img{
					display: none;
				}
			}
		}
		#block-vesafe-search-search-vesafe{
			margin-top: 7px;
			background-color: @color-primary;
			border-radius: 13px;
			height: 27px;
			visibility: hidden;
			.navbar-form{
				margin: 0px;
				padding: 0px;
				.form-type-textfield{
					width: 78%;
					display: inline-block;
					input{
						width: 100%;
						height: 21px;
						padding: 0px;
						box-shadow: none;
						border-radius: 0px;
						border: none;
						border-bottom: 1px solid white;
						background-color: @color-primary;
						outline: none;
						margin-left: 10px;
						padding-bottom: 0px;
    					padding-top: 0px;
						color: white;
					}
				}
				button{
					background-color: @color-primary;
					padding: 0px;
					outline: none;
					border: none;
					float: right;
				    margin-right: 10px;
				    margin-top: 3px;
				}
			}
		}
		#block-gtranslate-gtranslate{
			margin-top: 7px;
			visibility: hidden;
			&:before{
				content: "";
				background: url("../images/icons/google-g-logo.png");
				width: 25px;
			    height: 26px;
			    display: inline-block;
			    margin-right: 8px;
			    vertical-align: bottom;
			    background-size: cover;
			}
			select{
				border-color: @color-primary;
				min-width: 83% !important;
				display: inline-block !important;
			}
			.chosen-container.chosen-container-single.chosen-processed{
				display: none !important;
			}
			.gtranslate-machinatron{
				font-size: 0.75em;
				text-align: center;
			}
		}
	}
}
/*Menu header
*************************/
.menu-header{
	background-color: @color-primary;
	#navbar{
		margin-bottom: 0px;
		border: none;
		background-color: inherit;
		.navbar-nav{
			float: inherit;
			display: table;
			margin: 0 auto;
		}
		li{
			margin-left: 5px;
			margin-right: 5px;
			a{
				padding-top: 14px;
    			padding-bottom: 2px;
    			color: white;
    			font-size: 1em;
			}
			a.active{
				background-color: inherit;
				border-bottom: 2px solid white;
			}
		}
		li.first{
			a{
				max-height: 35px;
    			overflow: hidden;
    			background: url(../images/icons/vesafe-home.png) no-repeat 50% 93%;
			    text-align: center;
			    font-size: 0px;
			}
			a.active{
				border-bottom: none;
			}
		}
	}
}


/*Sticky menu
****************************************/
@media only screen and (min-width : 768px){
	
	.sticky-menu{
		position: fixed;
		z-index: 9999;
		width: 100%;
		background-color: white;
		top: 0px;
		.top-header-container {
		    padding-top: 5px;
		    padding-bottom: 5px;
		}
		.header-logo{
			margin-top: 0px;
			.logo{
				img{
					width: 150px;
				}
			}
			.eu-logo{
				width: 50px;
			}
		}
		.header-blocks{
			max-width: 350px;
			min-width: 350px;
			position: relative;
			margin-top: 18px;
			#block-text-resize-0,
			#block-printfriendly-printfriendly,
			#block-gtranslate-gtranslate{
				display: none;
			}
			#block-block-3{
				display: inline-block;
			}
			#block-vesafe-search-search-vesafe{
				display: inline-block;
				max-width: 225px;
				margin-left: 10px;
				position: absolute;
				top: -12px;
				right: 0px;
			}
		}
	}

}
/*end sticky menu*/