@media print {
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-size: initial;
  }
  div,
  span,
  article {
    display: block;
    float: none !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  body {
    font-family: "Times New Roman" !important;
    /* IE 8 + */
  }
  body a:link:after,
  body a:visited:after {
    display: none;
    content: "";
  }
  article header {
    border-bottom: none !important;
    padding-bottom: 0px !important;
  }
  header {
    border-bottom: 2px solid grey;
    padding-bottom: 25px;
    margin-bottom: 0px !important;
    margin-bottom: 3em;
  }
  header .header-logo {
    display: inline-block;
    width: 49% !important;
  }
  header .header-sitename {
    display: inline-block;
    width: 49% !important;
    border-left: none !important;
  }
  header .header-sitename img {
    float: right;
  }
  header .header-blocks {
    display: none;
  }
  footer {
    border-top: 2px solid grey;
    padding-top: 15px !important;
  }
  footer a {
    display: none !important;
  }
  .jumbotron-container {
    display: none;
  }
  .breadcrumb-container {
    display: none;
  }
  .page-title-container {
    padding: 1.5em !important;
    margin-bottom: 0em !important;
    border-bottom: 2px solid grey;
  }
  .page-title-container .page-title-container {
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-bottom: none;
  }
  .page-title-container h1 {
    color: #323a93 !important;
  }
  a[target*="_blank"]:after {
    content: "" !important;
  }
  .download-file:after {
    content: "" !important;
  }
  .back-arrow-container {
    display: none !important;
  }
  /*home*/
  .front .panels-flexible-region-new-vehicle_navigation,
  .front .panels-flexible-region-new-risk_navigation {
    width: 50% !important;
    float: left !important;
  }
  .front .home-page-key-articles .views-row {
    width: 33% !important;
    float: left !important;
    padding: 20px !important;
  }
  .front .home-page-key-articles .views-row img {
    display: none !important;
  }
  .front #block-views-did-you-know-block {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    padding-bottom: 15px;
  }
  .front #block-views-did-you-know-block #views_slideshow_controls_text_did_you_know-block {
    display: none;
  }
  .front #block-block-4 > div {
    width: 33% !important;
    float: left !important;
    padding: 20px !important;
  }
  .front #block-block-4 > div p > a {
    display: none;
  }
  .front #block-block-4 > div img {
    display: none;
  }
  /*End home*/
  /*roles page*/
  .roles-block {
    margin-bottom: 25px !important;
  }
  .roles-block img {
    display: none !important;
  }
  .roles-block .employer-link {
    display: none !important;
  }
  /*End roles page*/
  /*legislation page*/
  .legislation-block {
    margin-bottom: 25px !important;
  }
  .legislation-block .item-block {
    margin-top: 40px !important;
  }
  .legislation-block img {
    display: none;
  }
  /*End legislation page*/
  /*oira page*/
  .oira-block {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .oira-block .oira-button {
    display: none !important;
  }
  .oira-block p {
    margin-top: 25px;
  }
  /*End oira page*/
  /*E-guide page*/
  .eguide-block {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .eguide-block img {
    display: none !important;
  }
  /*End e-guide page*/
  /*themes page introduction*/
  .view-id-themes {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .view-id-themes .views-row img {
    display: none !important;
  }
  .view-id-themes .views-row span > a,
  .view-id-themes .views-row p {
    text-align: left !important;
  }
  /*End themes pages introduction*/
  /*Themes detail page*/
  .node-type-key-article .key-articles-menu-container {
    display: none !important;
  }
  .node-type-key-article .key-article-content {
    margin-top: 25px !important;
  }
  .node-type-key-article .key-article-content h2,
  .node-type-key-article .key-article-content h3.titulos-key-articles {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .node-type-key-article .key-article-content span {
    display: inline !important;
  }
  .node-type-key-article .key-article-content .key-article-next-prev-buttons {
    display: none !important;
  }
  /*End themes detail page*/
  .related-good-practices {
    display: none !important;
    height: inherit;
    display: block;
    overflow: hidden;
  }
  .related-good-practices .views-slideshow-controls-top {
    display: none !important;
  }
  .related-good-practices #views_slideshow_cycle_teaser_section_related_good_practices-block > div {
    display: block !important;
    opacity: 1 !important;
  }
  .related-good-practices #views_slideshow_cycle_teaser_section_related_good_practices-block > div img {
    display: none !important;
  }
  /*Good practices search page*/
  .page-good-practices .page-content-container aside.col-md-3 {
    display: none;
  }
  .page-good-practices .page-content-container section.col-md-9 {
    width: 100% !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .views-exposed-form {
    border: none !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .views-widget-sort-by {
    display: none;
  }
  .page-good-practices .page-content-container section.col-md-9 #block-views-exp-good-practices-page-1 {
    margin-bottom: 10px !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-header {
    text-align: right;
    margin-bottom: 20px;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row {
    border-bottom: 1px solid grey;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row .views-field-field-thumbnail img {
    display: none !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row .views-field-title .field-content {
    min-height: inherit !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row .views-field-field-gp-what-is-it {
    min-height: inherit !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row .views-field-field-gp-what-is-it .more-link {
    display: none !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row .views-field-field-like-count {
    position: inherit !important;
    bottom: 0px !important;
    left: 0px !important;
  }
  .page-good-practices .page-content-container section.col-md-9 .view-good-practices .view-content .views-row:last-child {
    border: none !important;
  }
  /*End good practices search page*/
  /*Good practice detail page*/
  .node-type-good-practice .back-arrow-container {
    display: block !important;
    margin-top: 25px !important;
  }
  .node-type-good-practice .back-arrow-container .back-arrow-wrapper {
    display: none !important;
  }
  .node-type-good-practice .good-practice-block .good-practices-tags-container .tags-block .tags-title,
  .node-type-good-practice .good-practice-block .good-practices-tags-container .tags-block .taxonomy-term-tag {
    display: inline;
  }
  .node-type-good-practice .good-practice-block .see-more-btn {
    display: none !important;
  }
  /*End good practice detail page*/
  ul.pager {
    display: none !important;
  }
  /*Search page*/
  .page-search aside.col-md-3 {
    display: none !important;
  }
  .page-search section.col-md-9 {
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-search section.col-md-9 .view-search .view-header {
    text-align: right;
    border-bottom: 1px solid grey;
    padding-bottom: 10px !important;
  }
  .page-search section.col-md-9 .view-search .view-header .results-for {
    text-align: left;
  }
  .page-search section.col-md-9 .view-search .view-filters {
    display: none !important;
  }
  .page-search section.col-md-9 .view-search .view-content .views-row {
    padding-bottom: 20px !important;
  }
  .page-search section.col-md-9 .view-search .view-content .views-row .views-field-type {
    margin-bottom: 5px !important;
  }
  .page-search section.col-md-9 .view-search .view-content .views-row .views-field-type span {
    display: inline;
  }
  .page-search section.col-md-9 .view-search .view-content .views-row:last-child {
    border-bottom: none !important;
  }
  /*End search page*/
}
